<!DOCTYPE html>
<html>
  <head>
    <title>BadReads</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <script type="text/javascript">
       window.images = {
       logoURL: "<%= image_url('logo.png') %>",
       bookfireURL: "<%= image_url('book_fire.gif') %>",
       githubURL: "<%= image_url('github.png')%>",
       linkedinURL: "<%= image_url('linkedin.png')%>",
       byfireURL: "<%= image_url('byfire.gif')%>",
       openbookURL:"<%= image_url('book.jpeg')%>",
       gatsbyURL:"<%=image_url('gatsby.jpeg')%>",
       mobyURL:"<%=image_url('moby.jpeg')%>",
       romeoURL:"<%=image_url('romeo.jpeg')%>",
       tempestURL:"<%=image_url('tempest.jpeg')%>",
       midsummerURL:"<%=image_url('midsummer.jpeg')%>",
       catcherURL:"<%=image_url('catcher.jpeg')%>",
       fiftyURL:"<%=image_url('fifty.jpeg')%>",
       twilightURL:"<%=image_url('twilight.jpeg')%>",
       eragonURL:"<%=image_url('eragon.jpeg')%>"

       }
     
    </script>
    
    
  
   

  </head>

  <body>
    <%= yield %>
  </body>
</html>
